<!DOCTYPE html>
<html>
<body>

<h1>User "<%= user_id %>".</h1>

<img src="/image/<%= user_id %>"><br>

<p>Upload a new image:</p>
<form method="post" action="/save/<%= user_id %>"
      ref="uploadForm" id="uploadForm"
      encType="multipart/form-data">
  <input type="file" name="map" accept="image/*">
  <input type="submit">
</form>

</body>
</html>
